{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Not Found 404 - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'back/favicon.png' %}" rel="icon">
  <link href="{% static 'back/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'back/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'back/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'back/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'back/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'back/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'back/remixicon.css' %}" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>{{error}}.</h2>
        <a class="btn" href="{% url 'outpass' %}">Back to outpass</a>
        <img src="{% static 'back/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
        
      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'back/apexcharts.min.js' %}"></script>
  <script src="{% static 'back/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'back/chart.min.js' %}"></script>
  <script src="{% static 'back/echarts.min.js' %}"></script>
  <script src="{% static 'back/quill.min.js' %}"></script>
  <script src="{% static 'back/simple-datatables.js' %}"></script>
  <script src="{% static 'back/tinymce.min.js' %}"></script>
  <script src="{% static 'back/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'back/main.js' %}"></script>

</body>

</html>